PointerAlignment: Right
ReflowComments: false
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
ColumnLimit: 80
UseTab: Always
IndentWidth: 4
TabWidth: 4